body {
	font-family: Verdana;
}
			
.title{
	height:40px;
	text-align:center;
	font-size:24px
}
.hint{
	font-family: MSYH;
	font-weight: bold;
	font-size:medium;
}
.cards_template{
	text-align: center;
}
.title{
	background-color: #089a7c	
}
			