<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% load staticfiles %}
		<script type="text/javascript" src='{% static 'scripts/jquery-min.js' %}'></script>
		<link rel="stylesheet" href='{% static 'style/main.css' %}' type="text/css" />
		<title>{%block title %}{%endblock%}</title>
	</head>
	<body>
		<div class="title">
		{{title}} </div>
		<hr/>
		{%block content%}{%endblock%}
		
		{%block footer%}
		<hr/>
		<div class="footer">
		<p>CONTACT MAIL: </p>
		<p>CONTACT Hi: </p>
		</div>
		{%endblock%}
	</body>
</html>
